force-app/main/default/flows/Log_Weight_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Daily_Record_Found</name>
        <label>Daily Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dailyRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Today_Daily_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Weight_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Daily_Record_Not_Found</name>
        <label>Daily Record Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dailyRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Daily_Record_Log.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Weight_Log</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Daily_Record_Exists</name>
        <label>Daily Record Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Daily_Record_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Today_Daily_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_Record_Found</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Log Weight flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Weight screen flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Daily_Record_Log</name>
        <label>Create Daily Record Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Daily_Record_Not_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Profile__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Record_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Weight_Log</name>
        <label>Create Weight Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Daily_Record_Log__c</field>
            <value>
                <elementReference>dailyRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Source__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>weightInput</elementReference>
            </value>
        </inputAssignments>
        <object>Weight_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Today_Daily_Record</name>
        <label>Get Today Daily Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Health_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Record_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Log_Weight</name>
        <label>Log Weight</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Today_Daily_Record</targetReference>
        </connector>
        <fields>
            <name>weightInput</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter weight&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Add your weight&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Add Weight</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Weight</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dailyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
